<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.miso.persistence">


    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <provider
            android:name="com.miso.persistence.player.PlayerStatsProvider"
            android:authorities="com.miso.persistence" />

    </application>



</manifest>
